.labelbox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 1em 2em 1em;
}

.labelbox__title {
  flex: 0;
  display: inline-block;
  color:#fff;
  background: $COLOR_BLUE;
  -moz-box-shadow:inset 0px 1px 0px 0px #ffbace;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffbace;
  box-shadow:inset 0px 1px 0px 0px #ffbace;
  background-image: -webkit-linear-gradient(top, #6deeea, #4c99bd);
  background-image: -moz-linear-gradient(top, #6deeea, #4c99bd);
  background-image: -ms-linear-gradient(top, #6deeea, #4c99bd);
  background-image: -o-linear-gradient(top, #6deeea, #4c99bd);
  background-image: linear-gradient(to bottom, #6deeea, #4c99bd);
  border:1px solid #6deeea;
  text-shadow:0px 1px 0px #4c99bd;
  padding: 0.5em;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px; 
}

.labelbox__body {
  padding: 0.8em;
  background-color: #fff;
  text-align: center;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px; 
}