.leaderboard {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.leaderboard__item {
  display: flex;
  align-items: center;
}
.leaderboard__item:nth-child(-n+3) {
  height: 45px;
  font-weight: bold;
  font-size: 120%;
}
.leaderboard__item:nth-child(n+4) {
  justify-content: center;
}
.leaderboard__item:nth-child(-n+3):before {
  content: '';
  display: block;
  width: 45px;
  height: 45px;
  float: left;
  margin: 0 0.8em 0 0;
}
.leaderboard__item:nth-child(1):before {
  background-size: cover;
  background-repeat: no-repeat;
  background: url('/public/first.png');
}
.leaderboard__item:nth-child(2):before {
  background-size: cover;
  background-repeat: no-repeat;
  background: url('/public/second.png');
}
.leaderboard__item:nth-child(3):before {
  background-size: cover;
  background-repeat: no-repeat;
  background: url('/public/third.png');
}

.foundlist {
  h4 {
    margin-bottom: 0;
  }
  p {
    margin: 0.8em 0 1.4em 0;
  }
}