@import 'colors';
@import 'navigation';
@import 'header';
@import 'buttons';
@import 'labelbox';
@import 'lists';

body {
  margin: 0;
  background: #000 url('/public/background.jpg');
  color: $COLOR_DARK;
  font-family: 'Roboto Slab', Serif;
}
h1, h2, h3, h4, h5 {
  font-family: 'Ruda', Sans-Serif;
}
h4 {
  margin-top: 0;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin: 1em 2em 1em;
  border-radius: 2px;
  padding: 0.8em;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
input {
  width: 100%;
  padding: 5px 5px;
  box-sizing: border-box;
}
.span {
  font-weight: bold;
}