<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>NFC Hunt</title>
  <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
  <%- include('partials/header'); %>
  <main>
    <%- defineContent('intro') %>
  </main>

  <div>
    <%- body %>
  </div>

  <%- include('partials/footer'); %>

</body>
</html>